{% extends 'base.html' %}
{% load static %}
{% block content %}


{% if error_message %}
<p class="red-text">{{ error_message }}</p>
{% endif %}

<div class="row signup-div">
  <div class="col s6 img-signup">
    <img src="{% static './images/sarah-takforyan-qRaNRi69t14-unsplash.jpg' %}" alt="">
    <span>Photo by <a href="https://unsplash.com/@sarahtakforyan?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Sarah Takforyan</a> on <a href="https://unsplash.com/s/photos/candy?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
  </div>
  <div class="col s6">
    <div class="form-card form-card-signup">
    <h1 class="center-align">Sign Up</h1>
      <form action="{% url 'signup' %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn" value="signup">
      </form>
    </div>
  </div>
</div>



{% endblock %}