{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}

<h1>Sweetlies Candy</h1>


<div class="card">
  <div class="card-content">
    <span class="card-title">{{ candy.name }}</span>
    <p>Seller: <a href="{% url 'store_detail' candy.store.id %}">{{ candy.store.store_name }}</a></p>
    <p>{{ candy.description }}</p>
    <p>Ingredients: {{ candy.ingredients }}</p>
    <p>Price per 100g: ${{ candy.price }}</p>
    {% if candy.in_stock %}
      <p>{{ candy.in_stock }}</p>
    {% endif %}
  </div>
</div>

{% if request.user == store.user %}
<div class="card-action">
  <a href="{% url 'delete_candy' candy.id %}" class="btn-small red">Delete</a>
  <a href="{% url 'edit_candy' candy.id %}" class="btn-small">Edit</a>
</div>
{% endif %}

{% endblock %}