{% extends 'base.html' %}
{% block title %} - Our Candy{% endblock %}
{% block content %}

<h1>Shop Sweetlies</h1>

<div class="row">
  {% for candy in all_candy %}
    <div class="col s4">
      <div class="card pink lighten-2">
        <div class="card-content">
          <div class="row">
            <div class="col">
              <a href="{% url 'candy_detail' candy.id %}">
                <img class="candy-img" src="https://loremflickr.com/320/240/chocolate/" alt="{{ candy.name }}">
              </a>
            </div>
          </div>
          <div class="row candy-div">
            <div class="col s12">
              <div class="row index-div">
                <div class="col">
                  <a href="{% url 'candy_detail' candy.id %}">
                    <span class="card-title truncate">{{ candy.name }}</span>
                  </a>
                </div>
              </div>
              <div class="row index-div">
                <div class="col s8">
                  <p>Store: <br /><a href="{% url 'store_detail' candy.store.id %}">{{ candy.store.store_name }}</a></p>
                  <p>{{ candy.description }}</p>
                </div>
                <div class="col s4 center-align">
                  <p>Price per 100g:</p>
                  <p>${{ candy.price }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}