{% extends 'base.html' %}
{% block title %} - Our Candy{% endblock %}
{% block content %}

<h1>Shop Sweetlies</h1>

<div class="row">
  <div class="col s6">
    {% for candy in all_candy %}
      <a href="{% url 'candy_detail' candy.id %}">
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class="col s8">
                <span class="card-title">{{ candy.name }}</span>
                <p>Store: {{ candy.store.store_name }}</p>
                <p>{{ candy.description }}</p>
              </div>
              <div class="col s4 center-align">
                <p>Price per 100g:</p>
                <p>{{ candy.price }}</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>

{% endblock %}