{% extends 'base.html' %}
{% load static %}
{% block title %} - About {% endblock %}
{% block content %}


<div class="row content-div">
  <div class="col s8">
    <h1>The Sweetlies Story</h1>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos aliquid delectus praesentium quod autem odit dolor eius dolore hic, pariatur rem maxime quaerat sapiente facilis vero suscipit placeat, itaque quo veniam quibusdam magni. Vitae id, minus exercitationem quod dolorem fugiat qui aut, necessitatibus et, sed quia non quasi labore. Perferendis minima vitae ut animi, dolorum quas corrupti commodi perspiciatis deserunt.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit officiis, non iste sequi cumque explicabo veritatis, eum libero inventore, est aut omnis? Repellat unde voluptatum a asperiores quam odio eos ea iste, aliquid iure totam exercitationem aspernatur quaerat architecto consequuntur?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui vel vitae placeat odio omnis consectetur iusto est reprehenderit exercitationem totam, nulla voluptatum iure cum? Veritatis eos itaque dolores optio sit quis iure saepe, distinctio aliquam id veniam eum velit, architecto, sed mollitia. Minus dicta placeat molestias iste nam suscipit. Commodi.</p>
  </div>
</div>

<div class="about-img"></div>
<span class="photo-credit">Photo by <a href="https://unsplash.com/@joannakosinska?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Joanna Kosinska</a> on <a href="https://unsplash.com/s/photos/sweet?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>

{% endblock  %}