{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Sweetlies{% block title %}{% endblock  %}</title>
</head>
<body class="pink lighten-4">
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper pink darken-2">
        <ul>
          <li><a href="/" class="left brand-logo">&nbsp;&nbsp;Sweetlies</a></li>
        </ul>
        <ul class="right">
          {% if user.is_authenticated %}
          <li><a href="{% url 'candy_index' %}">Our Candy</a></li>
          <li><a href="{% url 'stores_index' %}">Our Stores</a></li>
          <li><a href="{% url 'user_stores' %}">My Sweets</a></li>
          <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Log In</a></li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </div>
    </nav> 
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer pink darken-2">
    <div class="nav-wrapper">
      <ul class="left">All Rights Reserved, &copy; 2020 Sweetlies &nbsp;</ul>
      <ul class="right">
        <li><a class="white-text" href="{% url 'about' %}">About</a></li>
        <li><a class="white-text" href="{% url 'buyers_index' %}">Our Associates</a></li>
      </ul>
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>