{% extends 'base.html' %}
{% load static %}
{% block title %} - Home {% endblock %}
{% block content %}

<h1>Sweetlies</h1>

<img class="candy-img" src="{% static 'images/jamie-albright-AHF_ZktTL6Q-unsplash (1).jpg' %}" alt="candy">


<span>Photo by <a href="https://unsplash.com/@dcjamie_1202?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Jamie Albright</a> on <a href="https://unsplash.com/s/photos/candy?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
{% endblock  %}