body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #F9BDBB;
}

main {
  flex: 1 0 auto;
}

a {
  color: #ede7f6;
  font-family: 'Itim', sans-serif;
}

.index-div a:hover {
  color: #880e4f;
}

.store-link:hover {
  color: #f8bbd0 !important;
}

h1, 
h2 {
  color: #f06292;
  border-bottom: 5px solid #4db6ac;
}

.ellipsis {
  text-overflow: ellipsis;
}

h1, 
h2,
nav .brand-logo {
  font-family: 'Pacifico', cursive;
}

.photo-credit {
  display: inline-block;
  position: absolute;
  bottom: 0;
}

.live-sweetly {
  display: inline-block;
  width: 200px;
  position: absolute;
  right: 10%;
  top: 25%;
}

.live-sweetly h1 {
  color: white;
  border: none;
}


.page-footer {
  padding-top: 0;
  text-align: right;
  padding: 0 20px;
  color: #fff;
  width: 100%;
}

.home-footer {
  position: absolute;
  bottom: 0;
}

footer li {
  display: inline-block;
  padding-left: 20px;
}

/* Home & About pages */

.home-page {
  height: 100vh;
  width: 100vw;
  background: url("../images/jamie-albright-AHF_ZktTL6Q-unsplash-lg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home-page img {
  height: 100%;
  width: 100%;
  transform: rotate(90deg);
}

.about-img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background: url("../images/joanna-kosinska-vouDD7K0FoA-unsplash.jpg");
  transform: scaleX(-1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content-div {
  margin-top: 30px;
  position: absolute;
  left: 100px;
  width: 80%;
}

/* Log in & Sign up pages */
.form-card {
  padding: 30px;
  width: 400px;
}

.form-card-signup {
  margin-left: 100px;
}

.form-card-signup h1 {
  margin-bottom: 0;
}

.form-card form {
  padding: 20px;
  border-radius: 5px;
}

.signup-form .helptext {
  display: none;
}

input[type="text"],
input[type="password"] {
  padding-left: 10px !important;
  width: 290px !important;
  background: white !important;
  border-radius: 5px !important;
}

label {
  color: black;
}

.img-signup,
.img-login {
  height: 450px;
}

.img-signup img {
  margin-top: 100px;
  height: 90%;
  margin-right: 100px;
}

.img-login img {
  height: 100%;
}

.login-div {
  margin-top: 60px;
}

input[type='submit'] {
  width: 100%;
}


/* Candy Pages */

.candy-img {
  width: 100%;
  box-shadow: 0 0 2px black;
}

.candy-div p {
  color: black;
}

