{% extends 'base.html' %}
{% block title %} - {{ store.store_name }}{% endblock %}
{% block content %}

<h1>{{ store.store_name }}</h1>
<p>{{ store.location }}</p>
<p>{{ store.description }}</p>

{% if all_candy %}
  {% for candy in all_candy %}
  <a href="{% url 'candy_detail' candy.id %}">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ candy.name }}</span>
        <p>{{ candy.description }}</p>
      </div>
    </div>
  </a>
  {% endfor %} 
{% else %}
  <p>This store has no candy :(</p>
{% endif %}

<div class="card-action">
  <a class="btn" href="{% url 'add_candy' store.id %}">Add Candy</a>
</div>

<div class="row">
  <div class="col s6">
    {% if store.buyers.count %}
      <h5>Find {{ store.store_name }} in these locations:</h5>
        {% for buyer in store.buyers.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">{{ buyer.name }} - {{ buyer.location }}</span>
            <form action="{% url 'delete_buyer' store.id buyer.id %}" method="POST">
              {% csrf_token %}
              <input type="submit" class="btn" value="Remove Associate">
            </form>
          </div>
        </div>
        {% endfor %}
    {% endif %}
  </div>

  <div class="col s6">
    {% if request.user == store.user %}
    {% if not_buyers.count %}{% endif %}
    <h5>Add Associate Stores</h5>
    {% for buyer in not_buyers %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ buyer.name }}</span>
        <p>{{ buyer.location }}</p>
        <a href="{% url 'assoc_buyer' store.id buyer.id %}" class="btn">Add</a>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
<div class="card-action">
  <a href="{% url 'delete_store' store.id %}" class="btn-small red">Delete Store</a>
  <a href="{% url 'edit_store' store.id %}" class="btn-small">Edit Store</a>
</div>
{% endblock  %}