{% extends 'base.html' %}
{% block title %} - Our Stores{% endblock %}
{% block content %}

<h1>Sweetlies' Stores</h1>

<div class="row">
  {% for store in stores %}
  <div class="col s4">
      <div class="card pink lighten-2">
        <div class="card-content">
          <a href="{% url 'store_detail' store.id %}"><span class="card-title">{{ store.store_name }}</span></a>
          <p>{{ store.location }}</p>
          <p>{{ store.description }}</p>
        </div>
      </div>
  </div>
  {% endfor %}
</div>



{% endblock  %}