{% extends 'base.html' %}
{% block title %} - Our Stores{% endblock %}
{% block content %}


<div class="row">
  <div class="col s6">
    <h2>My Stores</h2>
    {% for store in stores %}
        <div class="card pink lighten-2">
          <div class="card-content white-text">
            <a class="store-link" href="{% url 'store_detail' store.id %}"><span class="card-title">{{ store.store_name }}</span></a>
            <p>{{ store.location }}</p>
            <p>{{ store.description }}</p>
          </div>
        </div>
    {% endfor %}
    <a class="btn" href="{% url 'new_store' %}">Add a Store</a>
  </div>
  <div class="col s6">
    <h2>My Info</h2>
    <div class="card-panel teal lighten-1">
      <p class="white-text"><strong>Parent Company:</strong> {{ found_user }}</p>
      <p class="white-text"><strong>Phone:</strong> 1-800-254-5555</p>
      <p class="white-text"><strong>Email:</strong> sweetlies@sweets.com</p>
    </div>
  </div>
</div>


{% endblock  %}